# Estas são as configurações da impressora mais foda do mundo!
[printer]
#max_position: 250,250,400
kinematics: corexy
max_velocity: 100 # 100mm/s
max_accel: 3000
max_z_velocity: 5
max_z_accel: 150

[force_move]
enable_force_move: true

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_1D00560008504E5238363120-if00

########################################
# Custom Homing Behavior
########################################
[homing_override]
axes: xyz
set_position_z: 0
gcode:
    G90
    G1 Z10 F600            # Move bed 10mm down (for safety)
    G28 X Y                # Request homing of X and Y
    G1 X125 Y125 F6000     # Move to center
    G28 Z                  # Request homing of Z
    G1 Z100 F600           # Move bed 100mm down

########################################
# Print End Macro
########################################
[gcode_macro PRINT_END]
gcode:
    M400                      # Wait for buffer to clear
    G92 E0
    G1 E-2 F1800              # Retract a bit
    G90
    G1 Z150 F600              # Lift bed safely
    G1 X125 Y125 F6000        # Move to center
    M104 S0                   # Turn off hotend
    M140 S0                   # Turn off bed
    M107                      # Turn off fan

# Motor1
[stepper_x]
step_pin: PC8
dir_pin: PC9
enable_pin: !PA15
microsteps: 16
rotation_distance: 32 # Polias com 16 dentes
endstop_pin: ^PD3
position_endstop: 0
position_max: 250
homing_speed: 50
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0

# Motor2
[stepper_y]
step_pin: PA10
dir_pin: PA14
enable_pin: !PA13
microsteps: 16
rotation_distance: 32.32 # Polias com 16 dentes (antes era 32)
endstop_pin: ^PD2
position_endstop: 0
position_max: 250
homing_speed: 50
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0

# Motor3
[stepper_z]
step_pin: PC6
dir_pin: PC7
enable_pin: !PA9
microsteps: 16
rotation_distance: 8 # Sobe 8mm por volta
endstop_pin: probe:z_virtual_endstop
position_min: -4.0
position_max: 350
homing_speed: 50
second_homing_speed: 3
homing_retract_dist: 3

# Motor4
[extruder]
step_pin: PB0 #PB12
dir_pin: !PB1 #!PB11
enable_pin: !PC4 #!PA8
microsteps: 16
rotation_distance: 7.370 # Quantos mm são empurrados com uma volta do motor
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: PA7
sensor_pin: PA2
sensor_type: Generic 3950
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 250
max_extrude_only_distance: 120


## End-Stop 5
#[filament_switch_sensor material_0]
#switch_pin: PF0

[heater_bed]
heater_pin: PA5
sensor_pin: PA0 
sensor_type: ATC Semitec 104GT-2
control: watermark
min_temp: 0
max_temp: 130

#[fan_generic soc-fan]
#pin: host:gpio79  #CB1
#pin: host:gpio26  #CM4

# Fan0 - For cooling the filament externally
[fan]
pin: PA4

# heater fan that will turn on when we melt the filament
[heater_fan hotend_fan]
pin: PA3
heater: extruder
kick_start_time: 0.5
fan_speed: 1.0
shutdown_speed: 0.0

########################################
# TMC2209 configuration
########################################

## Motor1
[tmc2209 stepper_x]
uart_pin: PD9
diag_pin: PD3 
run_current: 0.900
stealthchop_threshold: 999999
driver_SGTHRS: 90 # Sensibilidade motor para sensorless stop (quanto menor, mais força faz)
hold_current: 0.2

## Motor2
[tmc2209 stepper_y]
uart_pin: PD8
diag_pin: PD2
run_current: 0.900
stealthchop_threshold: 999999
driver_SGTHRS: 100 # Sensibilidade motor para sensorless stop (quanto menor, mais força faz)
hold_current: 0.2

## Motor3
[tmc2209 stepper_z]
uart_pin: PB10
run_current: 0.650
stealthchop_threshold: 999999
hold_current: 0.2

## Motor5
[tmc2209 extruder]
uart_pin: PA6
run_current: 0.800
stealthchop_threshold: 999999

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PD5, EXP1_3=PB3, EXP1_5=PB5, EXP1_7=PB7, EXP1_9=<GND>,
    EXP1_2=PD4,  EXP1_4=PD6, EXP1_6=PB4, EXP1_8=PB6, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PB8, EXP2_5=PC10, EXP2_7=PC12,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB9, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=<NC>

[bltouch]
sensor_pin: PC13
control_pin: PC15
x_offset: -20
y_offset: -50
z_offset: 3.99 # old = 4.190 e foi descontado 200 pq tava muito próximo
speed: 5.0
samples: 1
sample_retract_dist: 2.0


#[hall_filament_width_sensor]
#adc1: PC0
#adc2: PF10


