[include mainsail.cfg]

[include moonraker_obico_macros.cfg]

[include a-impressora-mais-foda-do-mundo.cfg]

# Deixado aqui para evitar o erro: SAVE_CONFIG section 'bltouch' option 'z_offset' conflicts with included value
[bltouch]
sensor_pin: PC13
control_pin: PC15
x_offset: -20
y_offset: -50
#z_offset: 3.99 # old = 4.190 e foi descontado 200 pq tava muito próximo
speed: 5.0
samples: 1
sample_retract_dist: 2.0
